%h1 Overview of Months


.row
  - @months.each do |month|
    .col-3
      .card
        .card-body
          %h5.card-title= month.full_name
          %p.card-text
            %table.table
              %tr
                %th Total Income
                %td= number_to_currency(month.total_income)
              %tr
                %th Total Expense
                %td= number_to_currency(month.total_expense)
              %tr
                %th Total Investment
                %td= number_to_currency(month.total_investment)

            = link_to "#{month.full_name} Details", month

